
@-webkit-keyframes clockwise {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes clockwise {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes counterClockwise {
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}
@keyframes counterClockwise {
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  80% {
      transform: translateY(-5px);
  }
}