

/*------ loader-------------------------------------------------*/
.loader-wrap{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	background:$loader-bg;

		.loader-inner {
			z-index:100;
			position:absolute;
			left:50%;
			top:50%;
			width:32px;
			height:32px;
			animation: counterClockwise 4s linear infinite;
			margin:-16px 0 0 -16px;
			border: 2px solid ;
			border-radius:100%;
			border-color: $loader-circle-border;

			&:before, &:after{
			content:'';
			position:absolute;
			border-radius: 100%;
			}

			&::before{
				width: 8px;
				height: 8px;
				background: $white-bg;
				animation: clockwise 4s linear infinite;
				top:-4px;
			}

			&::after{
				width: 4px;
				height: 4px;
				top:4px;
				left: 6px;
				background:$loader-circle-border;
				transform-origin: -4px -4px;
				animation: counterClockwise 1s linear infinite;
			}
		}
}


.loader-9::before, .loader-9::after {
	border-radius: 50%;
}

