#dealer-productService-offers{
 
		.delar-title {
		padding: 0px;
		transition: all 1s ease;

		h4{
			    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e1e1e1;
    padding: 0px 0 12px;


		}

		}

		.tab-content{

			.Odetials{
				padding: 10px 8px;
				height: auto;
				    border-bottom: 1px solid #e1e1e1;

				span{
			    position: relative;
			    display: -webkit-box;
			    padding-bottom: 0;
			    margin-bottom: 5px;
			    max-height: 53px;
			    font-weight: 500;
			    -webkit-line-clamp: 1;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    font-size: 17px;
			    color: #575757;
			    font-weight: 600;
			    margin-bottom: 5px;
			    padding: 0px 0 0;
			    clear: both;
			    height: auto;
			    overflow: hidden;
			    -webkit-line-clamp: 1;
			    -webkit-box-orient: vertical;
			    display: -webkit-box;
			    line-height: 22px;
			    text-transform: capitalize;
			    text-decoration: none;
				}
				.desCpn{
					span{
				color: #2ba828;
				margin-bottom: 10px;
				font-size: 14px;
				font-weight: 500;
				overflow: hidden;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
					}
				}
			}
		}

	.delar-container{
		position: relative;
    background-color: #fff;
    padding: 12px;
    height: 115px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, .08);
    border-radius: 5px;
    width: 188px;
        border: 1px solid #e1e1e1;

    	img{
    		max-width: 85%;
    height: 55px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    object-fit: scale-down;
    padding: 5px 0;
    	}

    	a{
			color: #337ab7;
			text-decoration: none;
			&:before{
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			content: '';
    		}

    		.overlay{
				position: absolute;
				bottom: 100%;
				top: 0;
				left: 0;
				background-color: #57bfbf;
				overflow: hidden;
				width: 100%;
				height: 0;
				transition: .3s ease;

				.totalDeals{
					color: #fff;
					white-space: nowrap;
					font-size: 18px;
					line-height: 25px;
					font-weight: 100;
					position: absolute;
					overflow: hidden;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
				}
    		}
    	}

    	&:hover .overlay{
    		    bottom: 0;
    height: 100%;
    	}

	}

	.product-service-container{
			    position: relative;
    background-color: #fff;
    padding: 12px;
    height: 130px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, .08);
    border-radius: 5px;

				

			.PS-img{
				position: relative;
				height: 80px;
				overflow: hidden;

				&:before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(35, 50, 65, .5);
			}

				img{
				padding: 0;
				width: 100% !important;
				height: 100% !important;
				max-width: 100% !important;
				max-height: initial !important;
				object-fit: cover;
				object-position: center;
			}
			}

			
			
			span{
				color: #0b0b0b;
				font-size: 15px;
				z-index: 0;
				display: block;
				padding: 8px 0;
				font-weight: 600;
				font-family: 'Roboto', sans-serif;
			}

			a{
				color: #337ab7;
				text-decoration: none;

				&:before{
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				content: '';
				}

				.overlay{
					position: absolute;
					bottom: 100%;
					top: 0;
					left: 0;
					background-color: rgba(0, 140, 186, .98);
					overflow: hidden;
					width: 100%;
					height: 0;
					transition: .3s ease;

					.totalDeals{
					color: #fff;
					white-space: nowrap;
					font-size: 18px;
					line-height: 25px;
					font-weight: 100;
					position: absolute;
					overflow: hidden;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					}


					}
					
				}

				&:hover .overlay{
    		    bottom: 0;
    height: 100%;
    	}
			}

			.products-list{
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			flex-wrap: wrap;
			// border-top: 1px solid #e6ecf2;
			flex: 1;
			margin-left: 7px;
			    padding:6px 3px;
			    transition: all .2s ease-in-out;


			.prod-item{
			position: relative;
			box-sizing: border-box;
			border: 1px dashed #878787;
			width: auto;
			position: relative;

			a{
			position: relative;
			display: block;
			padding: 5px;
			text-decoration: none;

			.img-wrap{
				// margin-top: -24px;
				text-align: right;
				font-size: 0;
				    overflow: hidden;
				    height: 92px;

				

				img{
					width: 100%;
					object-fit: cover;
					height: 100%;
				}
			}

			.info-wrap{

				
				.info-title{

					h3{
					font-size: 14px;
					color: #575757;
					font-weight: 500;
					margin-bottom: 5px;
					padding: 3px 3px 0;
					clear: both;
					height: auto;
					overflow: hidden;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					line-height: 22px;
					text-transform: uppercase;
					}
					.strike{
					font-weight: 700;
					font-size: 16px;
					color: #000000;
					margin-right: 12px;
					/* text-decoration: line-through; */
					position: absolute;
					top: 4px;
					left: 12px;
					}
					.amt{
						font-weight: 700;
					font-size: 15px;
					color: #757575;
					}
					.discount_off{
						color: #ff3b00;
						font-size: 18px;
						font-weight: 700;
						display: block;
						margin-top: 5px;
						text-align: left;
						position: absolute;
						top: 0;
						right: 13px;
						text-shadow: 1px 2px 0px #fff;
					}	

				}

			}

		

			}


			}

			&:hover .img-wrap img{
				transform: scale(1.08);
				 transition: all .2s ease-in-out;

			}
   
	}
	
}